<h3>请选择文件夹</h3>

<ul class="list-group">
    @if (!string.IsNullOrEmpty(Directory.ParentPath))
    {
        <li class="list-group-item" @onclick="@(e => Update(Directory.ParentPath))">
            ···
        </li>
    }
    @foreach (var directory in Directory.SubDirectorys)
    {
        <li class="list-group-item" @onclick="@(e => Update(directory.Path))">
            directory.Name
        </li>
    }
</ul>
