
<div class="modal fade show" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            @*头部*@
            <div class="modal-header">
                <h5 class="modal-title">当前路径: @CurrentDirectory</h5>
            </div>

            @*身体*@
            <div class="modal-body">
                <ul class="list-group">
                    @if (CurrentDirectory != "")
                    {
                        <li class="list-group-item" @onclick="@(e => UpdateParentAsync())">
                            ···
                        </li>
                    }
                    @foreach (var folder in SubFolders)
                    {
                        <li class="list-group-item" @onclick="@(e => UpdateSubAsync(folder))">
                            @folder
                        </li>
                    }
                </ul>
            </div>

            @*尾部*@
            <div class="modal-footer ml-auto">
                <button class="btn btn-primary mr-2">确认</button>
            </div>

        </div>

    </div>
</div>
