<h3>请选择文件夹</h3>

<ul class="list-group">
    @if (Directory.Path != "/")
    {
        <li class="list-group-item" @onclick="@(e => UpdateParentAsync())">
            ···
        </li>
    }
    @foreach (var folder in Directory.SubFolders)
    {
        <li class="list-group-item" @onclick="@(e => UpdateSubAsync(folder))">
            @folder
        </li>
    }
</ul>
