@model LibrarySettingsViewModel

@{ ViewData["Title"] = "编辑媒体库"; }

<div>
    <a class="btn btn-primary offset-md-5" asp-controller="Settings" asp-action="LibraryPreviews">当前媒体库</a>
    <a class="btn btn-success" asp-controller="Settings" asp-action="LibraryEdit">新建媒体库</a>
</div>


<div>
    <button type="button" class="btn btn-success">
        扫描所有媒体库
    </button>
</div>



<div class="row">

   @foreach (var libraryPreview in Model.LibraryPreviews)
    {
    <div class="col-md-2 col-6 card bg-transparent border-0 pl-0">
        <img src="@libraryPreview.PathPicture" class="card-img-top" alt="媒体库预览图" asp-append-version="true">
        <div class="card-body">
            <h5 class="card-title TextCenter">@libraryPreview.Name</h5>
        </div>
    </div>}

</div>

