@page "/Web/Settings/Library"
@using Swellow.Blazor.Components.Common;
@using Swellow.Blazor.Components.Settings;

<div>
    <button class="btn btn-success">扫描刷新</button>
</div>
<div class="row row-cols-md-6 mt-md-4">
    @foreach (var lp in LibraryPreviews)
    {
        <div class="col">
            <PosterCard Href=@($"Web/Media/Library/{lp.Id}")
                        Title=@lp.Name
                        ImgSrc=@lp.Fanart />
        </div>
    }
</div>


<EditForm Model="@EditContext" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" OnSubmit="HandleSubmit">

    <button class="btn btn-primary">确认新建</button>

    <div class="row">

        <div class="form-group col-12">
            名称:
            <InputText @bind-Value="NewLibrary.Name" />
        </div>

        <div class="form-group col-12">
            图片:
            <InputFile @bind-Value="NewLibrary.Picture" />
        </div>

        <div class="form-group col-12">
            <button class="btn-primary" @onclick="ToShowModalDirectoryPicker">添加文件夹</button>
            <ul class="list-group">
                @foreach (var directory in Directorys)
                {
                    <li>directory</li>
                }
            </ul>
        </div>

        <div class="form-group col-12">
            <button type="submit" class="btn btn-primary mr-2">创建</button>
        </div>

    </div>
</EditForm>

@if (IsPickingDirectory)
{
    <FolderPicker @bind-CurrentDirectory="PickedDirectory"></FolderPicker>
}
