/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*1 通用页面布局组件
2 布局页导航栏
3 Home媒体库主页
4 单个媒体库
5 电影详情
6 演员详情
7 视频播放页
8 settings：library

*/

html, body {
    font-size: 12px;
    height: 100%;
}

.home-body {
    color: white;
    background-image: url(/images/layout/background-blueradiance.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.poster-overspread {
    width:80%;
}

/*row-cols-md-8*/
/*.h-80*/