@page "/"
@using Microsoft.AspNetCore.Components;
@using System.Collections.Generic;
@using System.Threading.Tasks;
@using Swellow.Blazor.Services;
@using Swellow.Model.ViewModel.Media;
@using Swellow.Blazor.Components.Common


<h2>我的媒体库</h2>
<div class="row row-cols-md-6 mt-md-4">
    @foreach (var lp in LibraryPreviews)
    {
        <div class="col">
            <PosterCard Href=@($"Media/Library/{lp.Id}")
                        Title=@lp.Name
                        ImgSrc=@lp.PathImage />
        </div>
    }
</div>

@code
{
    [Inject] public IServer Server { get; set; }


    //1 所有Library预览【后传】
    private IEnumerable<LibraryPreview> LibraryPreviews { get; set; } = new List<LibraryPreview>();


    //【OnInitialized】
    protected override async Task OnInitializedAsync()
    {
        LibraryPreviews = await Server.GetLibraryPreviewsAsync();
        await base.OnInitializedAsync();
    }
}
