@page "/Library/{LibraryId:int}"
@using System.Collections.Generic;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Components;
@using Swellow.Blazor.Services;
@using Swellow.Model.ViewModel;
@using Swellow.Blazor.Components.Common

<div class="row row-cols-md-6">
    @foreach (var vp in VideoPreviews)
    {
        <div class="col">
            <PosterCard Href=@($"Library/{LibraryId}/{vp.Type}/{vp.Id}")
                        Title=@vp.Title
                        ImgSrc=@vp.PathPoster />
        </div>
    }
</div>

@code
{
    [Inject] public IServer Server { get; set; }

    //1 媒体库ID【url传】
    [Parameter] public int LibraryId { get; set; }

    //2 所含Video预览【后传】
    private IEnumerable<VideoPreview> VideoPreviews { get; set; } = new List<VideoPreview>();

    //【OnInitializedAsync】
    protected override async Task OnInitializedAsync()
    {
        VideoPreviews = await Server.GetVideoPreviewsByLibraryIdAsync(LibraryId);
    }
}