@page "/Library/{LibraryId}"

<div class="mt-5 mx-5">
    <div class="row row-cols-md-6">
        @foreach (var videoPreview in VideoPreviews)
        {
            <div class="col card bg-transparent border-0">
                <img src="@videoPreview.PathPoster" class="card-img-top" alt="影视海报" asp-append-version="true">
                <div class="card-body text-center">
                    @if (videoPreview.Type == "movie")
                    {
                        <a href="Movie/@videoPreview.Id" class="card-title stretched-link">@videoPreview.Title</a>
                    }
                    else if (videoPreview.Type == "tv")
                    {
                        <a href="Tv/@videoPreview.Id" class="card-title stretched-link">@videoPreview.Title</a>
                    }
                </div>
            </div>
        }
    </div>
</div>