@page "/Media/Library/{LibraryId:int}"
@using System.Collections.Generic;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Components;
@using Swellow.Blazor.Services;
@using Swellow.Shared.Dto.Dto;
@using Swellow.Blazor.Components.Common

<div class="row row-cols-md-6">
    @foreach (var wp in WorkPreviews)
    {
        <div class="col">
            <PosterCard Href=@($"Media/Library/{LibraryId}/{wp.Type}/{wp.Id}")
                        Title=@wp.Display
                        ImgSrc=@wp.Poster />
        </div>
    }
</div>

@code
{
    [Inject] public MediaService MediaService { get; set; }


    //1 媒体库ID【url传】
    [Parameter] public int LibraryId { get; set; }


    //2 所含Video预览【后传】
    private IEnumerable<WorkPreview> WorkPreviews { get; set; } = new List<WorkPreview>();


    //【OnInitializedAsync】
    protected override async Task OnInitializedAsync()
    {
        WorkPreviews = await MediaService.GetWorkPreviewsAsync(LibraryId);
    }



}