@page "/Web/Media/Library/{LibraryId:int}/Work/{WorkId:int}/Season/{SeasonId:int}"

<div>
    <div class="row mt-3">
        <div class="col-2 offset-1">
            <img class="w-100 h-100" src="@SeasonDetail.Poster" />
        </div>
    </div>

    <div class="mt-5">
        <ul>
            @foreach (var episode in EpisodePreviews)
            {
                <li style="list-style-type:none;" class="mt-3">
                    <div class="row">
                        @*<div class="col-3 offset-1" style="background-image:url('@episode.Fanart');">*@
                        <div class="col-3 offset-1">
                            <img class="w-100 h-100" src=@episode.Fanart />
                        </div>
                        <div class="col-7 align-self-center">
                            <h3 class="font-weight-bolder">@($"{episode.No}.{episode.Title}")</h3>
                            <p class="font-weight-lighter h5">@episode.Plot</p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>