<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MediaLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MediaLayout)">
            <p class="h1">Check Your Code !</p>
        </LayoutView>
    </NotFound>
</Router>
