@inherits LayoutComponentBase


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    @*导航栏左侧的logo*@
    <img src="/images/layout/logoName.svg" height="70">

    <ol class="breadcrumb border-0 bg-transparent h2 my-auto">
        @{
            // 有媒体库
            if (!string.IsNullOrEmpty(LibraryName))
            {
                <li class="breadcrumb-item"><a href="/">主页</a></li>
                // 有影视剧，URL在Video
                if (!string.IsNullOrEmpty(VideoName))
                {
                    <li class="breadcrumb-item"><a href="/Library/@LibraryId">@LibraryName</a></li>
                    <li class="breadcrumb-item">@VideoName</li>
                }
                // 没影视剧，URL在Library
                else
                {
                    <li class="breadcrumb-item">@LibraryName</li>
                }
            }
            // 没媒体库，URL在Home
            else
            {
                <li class="breadcrumb-item">主页</li>
            }
        }
    </ol>

    @*导航栏右侧的搜索和设置*@
    <div class="navbar-nav ml-auto">
        <a href="Search" class="mx-2">
            <img src="/images/layout/search.svg" height="45" />
        </a>
        <a href="Settings/Dashboard" class="mx-2">
            <img src="/images/layout/settings.svg" height="45" />
        </a>
    </div>

</nav>

@*占位用的导航栏*@
<nav class="navbar">
    <img height="70">
</nav>


@Body