
    <div class="row row-cols-md-5">

        <a href="Player/VideoPlayer/@PathFanart" class="col">
            <img src="/images/video/play.svg" />
            <p>播放</p>
        </a>

        <a href="Player/VideoPlayer" class="col">
            <img src="/images/video/randomPlay.svg" />
            <p>随机播放</p>
        </a>

        <a href="Player/VideoPlayer" class="col">
            <img src="/images/video/trailer.svg" />
            <p>预告片</p>
        </a>

        <a class="col">
            <img src="/images/video/rating.svg" />
            <p>评分</p>
        </a>

        <a class="col">
            <img src="/images/video/delete.svg" />
            <p>删除</p>
        </a>

    </div>

@code {
    [Parameter] public string PathFanart { get; set; }

}
